@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Display:wght@400..800&display=swap');

$font: 'Fira Sans', sans-serif;

// Фон
$colorBackground: #f5f6fd;
$colorBackgroundForm: #ffffff;

//цвета текста
$colorText: #131315;
$colorTextUnactive: #7f7f7f;
$colorTextError: #d42727;
$colorTextLight: #ffffff;

//цвета полей ввода
$colorInput: #f4f7ff;
$colorInputBorderError: #d42727;
$colorInputBorderActive: #5c75ce;
$colorButtonBorder: #5c75ce;
$colorInputDisabled: #f5f5f5;

// кнопки
$colorButtonDark: #5c75ce;
$colorButtonDarkHover: #5b6abb;
$colorButtonDarkActive: #4756a1;
$colorButtonLight: #ffffff;
$colorButtonLightHover: #dde5f6;
$colorButtonLightActive: #bed0f3;
$colorButtonBorder: #5c75ce;
$colorButtonDisabled: #9fa1ab;

$borderBlur: rgba(92, 117, 206, 0.3);

$bgOverlay: #00000026;
